---
---

@import 'bubbling-ale';

@import "{{ site.theme }}";

.main-content {
    max-width: 60rem; /* Adjusted from a smaller width */
    margin: auto;     /* Keeps it centered */
    padding: 20px;    /* Optional: Adjust padding to ensure content doesn’t touch the edges */
  }
  