---
---

@import 'bubbling-ale';

@import "{{ site.theme }}";

.main-content {
    width: 100%;        /* Occupy 100% of the available width */
    max-width: 60rem;   /* Set maximum width for content */
    margin: 0 auto;     /* Center the content horizontally */
    padding: 20px;      /* Optional: Adjust padding to ensure content doesn’t touch the edges */
    box-sizing: border-box; /* Ensure padding is included in the width */
    overflow-x: hidden; // Hide horizontal overflow
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; // Hide horizontal overflow
}
