---
---

@import 'bubbling-ale';

@import "{{ site.theme }}";

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* This will hide any horizontal overflow, preventing horizontal scrollbars */
}

.container, .wrapper, .main-content {
    width: 100%;
    max-width: 100%;  /* Ensures that the max width doesn't restrict the container */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Includes padding and border in the element's total width */
}
