<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include header.html %}

    <main id="content" class="main-content" role="main">
      <!-- Authors -->
      {% if page.authors %}
        {% include authors.html %}
      {% endif %}

      <!-- Table of Contents -->
      {{ content | toc_generate }} <!-- This generates the TOC -->

      <!-- Main Content -->
      {{ content }}
      {% include footer.html %}
    </main>

    {% include scripts.html %}
</html>
