<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}

  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    {% include header.html %}

    <main id="content" class="main-content" role="main">
      <header class="page-header">
        <h1 class="page-title">{{ page.title }}</h1>
        <p class="page-subtitle">{{ page.subtitle }}</p>
      </header>

      <!-- Authors -->
      {% if page.authors %}
        {% include authors.html %}
      {% endif %}

      <!-- Main Content -->
      {{ content }}
      {% include footer.html %}
    </main>

    {% include scripts.html %}
</html>

