<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
      $(document).ready(function(){
        $(".slider").bxSlider();
      });
    </script>

  </head>
  <body>

    <ul class="bxslider">
        <li><img src="/assets/plotly/Bottom10Breweries.png" /></li>
        <li><img src="/assets/plotly/Top10Breweries.png" /></li>
        <li><img src="/assets/plotly/Bottom10Locations.png" /></li>
        <li><img src="/assets/plotly/Top10Locations.png" /></li>
    </ul>

  </body>
</html>